@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
  background:#202124;
  height:100vh;
  width:100%;
  padding:1rem 2rem;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

.errorshow{
  color:red;
}
h1{
  color:white;
  font-weight: 500;
  border-bottom: 2px solid #2c2e31;
  padding-bottom:0.8rem;
}

select,input[type="text"]{
  padding: 10px;
  font-size: 14px;
  border: 1px solid  #4b4b4d;
  border-radius: 4px;
  background-color: #202124;
}
.convertBox{
  display:flex;
  margin:1rem 0;
}
input[type="text"]{
  width:130px;
  border-right:none;
  border-top-right-radius: 0; 
  border-bottom-right-radius: 0;
  color:white;
}
input[type="text"]:focus{
  border:1px solid green;
}
select {
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
  width: 200px;
  outline: none;
  cursor: pointer;
  border-left:none;
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0;
  color:white;
}

.line {
  position: relative;
}

.line:before
 {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width:2px;
  height: 25px; /* The height of the border */
  background-color: #3c4043; /* The color of the border */
}

.line:before {
  top: 7px; /* Adjust the top gap value */
}
button{
  background:none;
  color:white;
  padding:8px;
  border:1px solid white;
  border-radius:4px;
  cursor:pointer;
}
.date{
  color:#858585;
  margin-top:14px;
  margin-bottom: -10px;
}






